- var style = css('article');

include ../nav/nav

// - 文章页模板
doctype html
html
  head
    include ../commonHead/commonHead
    link(rel='stylesheet' href='/static/style/article.css')
    block head

  body
    +nav(style)

    block content

    div.position-fixed#go-to-top(class=style.articleGoToTop
      title='返回顶部'
      tabindex='0'
      role='button'
      aria-label='返回顶部')
      img(class=style.articleGoToTopIcon src='/static/image/go-to-top.png' alt='返回顶部')

  block end