extends ../../components/article/article

mixin title
  | 使用SVG，让渐变的背景也能动起来

mixin code-block-0
  code.xml.
    &lt;!DOCTYPE html&gt;
    &lt;html lang="en"&gt;
    &lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
      &lt;style&gt;
      .btn {
        padding: 0;
        width: 120px;
        height: 50px;
        font-size: 26px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }

      .space {
        width: 100%;
        height: 100%;
      }

      .btn-text {
        pointer-events: none;
      }

      .svg {
        display: block;
      }
      &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;button class="btn" type="button"&gt;
      &lt;span class="space btn-text"&gt;Button&lt;/span&gt;
      &lt;svg class="space svg" id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1"&gt;
        &lt;!-- 过渡动画模板1，过渡动画 --&gt;
        &lt;linearGradient id="linear_gradient_0" x1="0" y1="0" x2="100%" y2="100%"&gt;
          &lt;stop offset="0" stop-color="#13f5ff"&gt;
            &lt;animate attributeName="stop-color"
              from="#13f5ff"
              to="#fff713"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
              begin="background.mouseover"
            /&gt;
          &lt;/stop&gt;
          &lt;stop offset="100%" stop-color="#0017c0"&gt;
            &lt;animate attributeName="stop-color"
              from="#0017c0"
              to="#ff0005"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
              begin="background.mouseover"
            /&gt;
        &lt;/stop&gt;
        &lt;/linearGradient&gt;

        &lt;!-- 过渡动画模板2，还原动画 --&gt;
        &lt;linearGradient id="linear_gradient_1" x1="0" y1="0" x2="100%" y2="100%"&gt;
          &lt;stop offset="0" stop-color="#fff713"&gt;
            &lt;animate attributeName="stop-color"
              from="#fff713"
              to="#13f5ff"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
            /&gt;
          &lt;/stop&gt;
          &lt;stop offset="100%" stop-color="#ff0005"&gt;
            &lt;animate attributeName="stop-color"
              from="#ff0005"
              to="#0017c0"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
              begin="background.mouseout"
            /&gt;
          &lt;/stop&gt;
        &lt;/linearGradient&gt;

        &lt;!-- 文字动画1 --&gt;
        &lt;linearGradient id="linear_gradient_2" x1="0" y1="0" x2="100%" y2="100%"&gt;
          &lt;stop offset="0" stop-color="#ff00ff"&gt;
            &lt;animate attributeName="stop-color"
              from="#ff00ff"
              to="#4dff27"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
              begin="svg.mouseover"
            /&gt;
          &lt;/stop&gt;
          &lt;stop offset="100%" stop-color="#f9ff7c"&gt;
            &lt;animate attributeName="stop-color"
              from="#f9ff7c"
              to="#b29fff"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
              begin="svg.mouseover"
            /&gt;
          &lt;/stop&gt;
        &lt;/linearGradient&gt;

        &lt;!-- 文字动画2，还原动画 --&gt;
        &lt;linearGradient id="linear_gradient_3" x1="0" y1="0" x2="100%" y2="100%"&gt;
          &lt;stop offset="0" stop-color="#4dff27"&gt;
            &lt;animate attributeName="stop-color"
              from="#4dff27"
              to="#ff00ff"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
              begin="svg.mouseout"
            /&gt;
          &lt;/stop&gt;
          &lt;stop offset="100%" stop-color="#b29fff"&gt;
            &lt;animate attributeName="stop-color"
              from="#b29fff"
              to="#f9ff7c"
              dur=".3s"
              repeatCount="1"
              fill="freeze"
              begin="svg.mouseout"
            /&gt;
          &lt;/stop&gt;
        &lt;/linearGradient&gt;

        &lt;g&gt;
          &lt;rect class="space" id="background-rect" fill="url(#linear_gradient_0)" /&gt;
          &lt;text class="btn-text"
            id="background-text"
            x="50%" y="50%"
            text-anchor="middle"
            dominant-baseline="middle"
            fill="url(#linear_gradient_2)"
          &gt;
            Button
          &lt;/text&gt;
        &lt;/g&gt;

        &lt;!-- 脚本 --&gt;
        &lt;script type="text/javascript"&gt;
          &lt;![CDATA[
          const svg = document.getElementById('svg'),
            rect = document.getElementById('background-rect'),
            text = document.getElementById('background-text');

          // 鼠标移入时
          function handleBackgroundMouseOver(event) {
            // 使用setTimeout防止动画闪烁
            setTimeout(function() {
              background.setAttribute('fill', 'url(#linear_gradient_0)');
              text.setAttribute('fill', 'url(#linear_gradient_2)');
            }, 0);
          }

          // 鼠标移出时
          function handleBackgroundMouseOut(event) {
            // 使用setTimeout防止动画闪烁
            setTimeout(function() {
              background.setAttribute('fill', 'url(#linear_gradient_1)');
              text.setAttribute('fill', 'url(#linear_gradient_3)');
            }, 0);
          }

          background.addEventListener('mouseover', handleBackgroundMouseOver, false);
          background.addEventListener('mouseout', handleBackgroundMouseOut, false);
          // ]]&gt;
        &lt;/script&gt;
      &lt;/svg&gt;
    &lt;/button&gt;
    &lt;/body&gt;
    &lt;/html&gt;

block head
  title
    + title
  link(rel='stylesheet' href='/static/style/github.css')
  meta(name='keywords' content='前端, SVG')
  meta(name='description' content='使用SVG，让渐变的背景也能动起来')
  style.
    .demo-btn { position: relative; padding: 0; margin: 0; width: 120px; height: 50px; font-size: 26px;
      background-color: transparent; border: none; outline: none; cursor: pointer; }
    .demo-space { width: 100%; height: 100%; }
    .demo-svg { display: block; transform: translate3d(0, 0, 0); }
    .demo-btn-text { pointer-events: none; }

block content
  article(class=style.articleLayout)
    h1(class=style.articleTitle)
      + title

    article(class=style.articleParagraph)
      p 当背景是渐变色时，如果想实现过渡动画。直接使用css的
        code transition
        | 是不行的。所以考虑使用svg来实现功能。

    article(class=style.articleParagraph)
      h2(class=style.articleTitle2) 代码演示和实现
      div.mb-5
        b 实现的效果：
          button.demo-btn(type='button')
            svg.demo-svg.demo-space#svg(xmlns='http://www.w3.org/2000/svg' version='1.1')
              // 过渡动画模板1，过渡动画
              linearGradient#linear_gradient_0(x1='0' y1='0' x2='100%' y2='100%')
                stop(offset='0%' stop-color='#13f5ff')
                  animate(attributeName='stop-color'
                    from='#13f5ff'
                    to='#fff713'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseover')
                stop(offset='100%' stop-color='#0017c0')
                  animate(attributeName='stop-color'
                    from='#0017c0'
                    to='#ff0005'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseover')

              // 过渡动画模板1，过渡动画
              linearGradient#linear_gradient_1(x1='0%' y1='0%' x2='100%' y2='100%')
                stop(offset='0%' stop-color='#fff713')
                  animate(attributeName='stop-color'
                    from='#fff713'
                    to='#13f5ff'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseout')
                stop(offset="100%" stop-color="#ff0005")
                  animate(attributeName='stop-color'
                    from='#ff0005'
                    to='#0017c0'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseout')

              // 文字动画1
              linearGradient#linear_gradient_2(x1='0' y1='0' x2='100%' y2='100%')
                stop(offset='0' stop-color='#ff00ff')
                  animate(attributeName='stop-color'
                    from='#ff00ff'
                    to='#4dff27'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseover')
                stop(offset='100%' stop-color='#f9ff7c')
                  animate(attributeName='stop-color'
                    from='#f9ff7c'
                    to='#b29fff'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseover')

              // 文字动画2，还原动画
              linearGradient#linear_gradient_3(x1='0' y1='0' x2='100%' y2='100%')
                stop(offset='0' stop-color='#4dff27')
                  animate(attributeName='stop-color'
                    from='#4dff27'
                    to='#ff00ff'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseout')
                stop(offset='100%' stop-color='#b29fff')
                  animate(attributeName='stop-color'
                    from='#b29fff'
                    to='#f9ff7c'
                    dur='.3s'
                    repeatCount='1'
                    fill='freeze'
                    begin='svg.mouseout')
              g
                rect.demo-space#background-rect(fill='url(#linear_gradient_0)')
                text.demo-btn-text#background-text(
                  x='50%'
                  y='50%'
                  text-anchor='middle'
                  dominant-baseline='middle'
                  fill='url(#linear_gradient_2)') Button

              script.
                <![CDATA[
                const svg = document.getElementById('svg'),
                  background = document.getElementById('background-rect'),
                  text = document.getElementById('background-text');

                // 鼠标移入时
                function handleBackgroundMouseOver(event) {
                  setTimeout(function() {
                    background.setAttribute('fill', 'url(#linear_gradient_0)');
                    text.setAttribute('fill', 'url(#linear_gradient_2)');
                  }, 0);
                }

                // 鼠标移出时
                function handleBackgroundMouseOut(event) {
                  setTimeout(function() {
                    background.setAttribute('fill', 'url(#linear_gradient_1)');
                    text.setAttribute('fill', 'url(#linear_gradient_3)');
                  }, 0);
                }

                svg.addEventListener('mouseover', handleBackgroundMouseOver, false);
                svg.addEventListener('mouseout', handleBackgroundMouseOut, false);
                // ]]>;

      pre#code-block-0
        +code-block-0

block end
  script window.__INITIAL_STATE__ = { codeHighlightLength: 1 };
  script(src='/static/script/jquery.min.js')
  script(src='/static/script/vendor_modern.js' type='module' crossorigin='anonymous' async)
  include ../../components/safariModern/safariModern.pug
  script(src='/static/script/vendor.js' type='nomodule' crossorigin='anonymous' async)