extends ../../components/article/article

mixin title
  | 用JS实现多个任务并行执行的队列

block head
  title
    + title
  link(rel='stylesheet' href='/static/style/github.css')
  meta(name='keywords' content='前端, js, javascript, typescript, node')
  meta(name='description' content='用JS实现多个任务并行执行的队列')

mixin code-block-0
  code.javascript.
    class Queue {
      constructor(workerLen) {
        this.workerLen = workerLen ?? 3;         // 同时执行的任务数
        this.list = [];                          // 任务队列
        this.worker = new Array(this.workerLen); // 正在执行的任务
      }

      /**
       * 执行一个任务
       * @param { number } index
       * @param { Function } fn: 执行的函数
       * @param { Array<any> } args: 传递给执行函数的参数
       */
      *executionFunc(index, fn, ...args) {
        const _this = this;

        yield fn.call(...args)
          .then(function() {
            // 任务执行完毕后，再次分配任务并执行任务
            _this.worker[index] = undefined;
            _this.run();
          });
      }

      /**
       * 添加到任务队列
       * @param { Array<Array<any>> } list: 任务队列
       */
      addList(list) {
        for (const item of list) {
          this.list.unshift(item);
        }
      }

      // 分配并执行任务
      run() {
        const runIndex = [];

        for (let i = 0; i < this.workerLen; i++) {
          const len = this.list.length;

          if (!this.worker[i] && len > 0) {
            // 需要执行的任务
            this.worker[i] = this.executionFunc(i, ...this.list[len - 1]);

            runIndex.push(i);

            // 从任务队列内删除任务
            this.list.pop();
          }
        }

        // 执行任务
        for (const index of runIndex) {
          this.worker[index].next();
        }
      }
    }

mixin code-block-1
  code.javascript.
    // 延迟执行的函数
    function sleep(id, time) {
      console.log('开始id', id);

      return new Promise((resolve) => {
        setTimeout(() => {
          console.log('结束id', id);
          resolve();
        }, time * 1000);
      });
    }

    const queue = new Queue();

    // 添加到任务队列
    queue.addList([
      [sleep, undefined, '0001', 3],
      [sleep, undefined, '0002', 5],
      [sleep, undefined, '0003', 8],
      [sleep, undefined, '0004', 1],
      [sleep, undefined, '0005', 12],
      [sleep, undefined, '0006', 8],
      [sleep, undefined, '0007', 2],
      [sleep, undefined, '0008', 10]
    ]);

    // 执行任务
    queue.run();

block content
  article(class=style.articleLayout)
    h1(class=style.articleTitle)
      + title

    article(class=style.articleParagraph)
      h2(class=style.articleTitle2) 使用场景
      p.
        今天在开发时，碰到了这么一个需求：需要上传多个视频文件；每个文件的上传在新线程内执行；同时最多有三个上传任务在执行；
        当一个任务执行完毕，执行下一个任务。这个需求就是并行执行队列内的任务。
      p 为了能够满足要求，需要知道可以同时执行的任务数、任务队列、正在执行的任务。当一个任务执行完毕后，需要分配下一个执行的任务。

    article(class=style.articleParagraph)
      h2(class=style.articleTitle2) 代码实现
      p 首先定义一个类：
      pre#code-block-0
        +code-block-0
      p 定义一个延迟执行的异步函数，并执行任务，测试代码是否满足需求：
      pre#code-block-1
        +code-block-1
      P 在控制台上会输出：
      pre#code-block-2
        code.javascript.
          开始id 0001
          开始id 0002
          开始id 0003
          结束id 0001
          开始id 0004
          结束id 0004
          开始id 0005
          结束id 0002
          开始id 0006
          结束id 0003
          开始id 0007
          结束id 0007
          开始id 0008
          结束id 0006
          结束id 0005
          结束id 0008
      p 可以看到，开始时执行了三个任务；每当有任务执行完毕，就会执行下一个任务。这样就满足了并行执行队列内的任务的需求。

    article(class=style.articleParagraph)
      h2(class=style.articleTitle2) 代码演示
      p 共有6个任务，每个任务过一定时间后完成。任务执行完成后执行下一个任务，最多有3个任务在执行。
      div.mb-3.text-right
        button.btn.btn-danger.d-none#reset-queue(type='button' disabled) 重置任务
        button.btn.btn-primary#start-queue(type='button') 开始任务
      table.table.table-bordered
        thead.thead-dark
          tr
            th 任务ID
            th 执行时间（s）
            th 执行状态
        tbody
          tr
            td 任务1
            td 3
            td.text-secondary#task-status-0 未执行
          tr
            td 任务2
            td 9
            td.text-secondary#task-status-1 未执行
          tr
            td 任务3
            td 12
            td.text-secondary#task-status-2 未执行
          tr
            td 任务4
            td 5
            td.text-secondary#task-status-3 未执行
          tr
            td 任务5
            td 7
            td.text-secondary#task-status-4 未执行
          tr
            td 任务6
            td 1
            td.text-secondary#task-status-5 未执行
      div
        b 已完成任务：
        span#completed 无

block end
  script window.__INITIAL_STATE__ = { codeHighlightLength: 3 };
  script(src='/static/script/jquery.min.js')
  script(src='/static/script/vendor_modern.js' type='module' crossorigin='anonymous' async)
  script(src='/static/script/queueInJs_modern.js' type='module' crossorigin='anonymous' async)
  include ../../components/safariModern/safariModern.pug
  script(src='/static/script/vendor.js' type='nomodule' crossorigin='anonymous' async)
  script(src='/static/script/queueInJs.js' type='nomodule' crossorigin='anonymous' async)